@import url("./reset.css");

.container {
  width: min(100% - 30px, 1080px);
  margin-inline: auto;
}

:root {
  --background-color: #5a5a5a;
}

body {
  color: #1f1b2f;
  background: linear-gradient(
    135deg,
    rgb(82, 229, 231) 10%,
    rgb(19, 12, 183) 100%
  );
}

header {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  position: relative;
  height: 25vh;
  border-bottom: 10px solid #f9f9f9;
  padding: 25px;
}

main {
  height: 75vh;
  color: #eee;
  background-color: #191940;
  transition: all 1s;
  display: grid;
  place-items: center;
}

.game {
  margin-top: 50px;
  border-radius: 7px;
  height: 400px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h1 {
  font-size: 55px;
  color: #fff;
  text-align: center;
}

.display {
  background-color: #0000ff;
  color: #fff;
  padding: 20px 10px;
  height: 100px;
  display: grid;
  place-content: center;
  font-size: 32px;
  width: 400px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  border: 7px solid #f9f9f9;
}

.emoji {
  font-size: 28px;
  margin: 20px;
}
.sc {
  font-size: 28px;
}
.timer {
  font-size: 28px;
  margin-bottom: 20px;
}

.input-word {
  background: none;
  border: 7px solid #f9f9f9;
  font-size: 35px;
  color: #eee;
  padding: 20px 15px;
  width: 300px;
  height: 100px;
  text-align: center;
  display: block;
  margin-bottom: 10px;
}

.buttons {
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
}

.btn {
  color: #fff;
  font-size: 18px;
  padding: 7px 15px;
  width: 100px;
  cursor: pointer;
  border: 7px solid #f9f9f9;
  transition: all 0.2s ease-in-out;
}

.start {
  background-color: #3b3bff;
}

.reset {
  background-color: #00b200;
  display: none;
}

.scores {
  background-color: #eaba38;
}

.btn:hover {
  background-color: #1e1345;
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  perspective: 1000px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.result {
  width: 600px;
  height: 200px;
}

.score-dialog {
  color: #fff;
  padding: 30px;
  height: 75%;
  text-align: center;
  margin: auto 0 auto auto;
  width: 300px;
  background-color: rgba(0, 0, 0, 0.5);
  animation: 0.5s ease-in-out anim;
}

.score-dialog h3 {
  color: #fff;
  text-align: center;
  margin-bottom: 15px;
  animation: 0.5s ease-in-out anim;
  font-size: 25px;
}

.score-div {
  color: #fff;
  margin: 7px;
  display: flex;
  justify-content: space-between;
  translate: 300px 0;
  animation: 1s 0.5s ease-in-out forwards anim;
}

@keyframes anim {
  from {
    opacity: 0;
    translate: 250px 0;
  }
  to {
    opacity: 1;
    translate: 0px 0;
  }
}
